{% extends "base.html" %}

{% block title %}Perfil{% endblock %} 

{% block content %}
{% include 'partials/messages.html' %}

<h1 style="justify-content:center; align-items:center; display:flex; padding: 1em;">Perfil</h1>
  <div class="container">
      <form method="POST" action="{% url 'perfil' %}">
        {% csrf_token %}
        <div class="form-group row">
          <label for="nome_inst" class="col-4 col-form-label">Nome da instituição</label> 
          <div class="col-8">
            <input value="{{perfil.nome_instituicao}}" id="nome_instituicao" name="nome_instituicao" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="logradouro" class="col-4 col-form-label">Logradouro</label> 
          <div class="col-8">
            <input value="{{perfil.logradouro}}" id="logradouro" name="logradouro" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="numero" class="col-4 col-form-label">Número</label> 
          <div class="col-8">
            <input value="{{perfil.numero}}" id="numero" name="numero" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="bairro" class="col-4 col-form-label">Bairro</label> 
          <div class="col-8">
            <input value="{{perfil.bairro}}" id="bairro" name="bairro" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="cidade" class="col-4 col-form-label">Cidade</label> 
          <div class="col-8">
            <input value="{{perfil.cidade}}" id="cidade" name="cidade" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="estado" class="col-4 col-form-label">Estado</label> 
            <div class="col-8">
              <select value="{{perfil.UF}}" id="estado" name="UF" class="custom-select">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
                </select>
              </div>
        </div>
        <div class="form-group row">
          <label for="telefone" class="col-4 col-form-label">Telefone</label> 
          <div class="col-8">
            <input value="{{perfil.telefone}}" id="telefone" name="telefone" type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
          </div>
        </div>
        <div class="form-group row">
          <label for="fax" class="col-4 col-form-label">Fax</label> 
          <div class="col-8">
            <input value="{{perfil.fax}}" id="fax" name="fax" type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
          </div>
        </div>
        <div class="form-group row">
          <label for="site" class="col-4 col-form-label">Site</label> 
          <div class="col-8">
            <input value="{{perfil.site}}" id="site" name="site" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="email_inst" class="col-4 col-form-label">Email da instituição</label> 
          <div class="col-8">
            <input value="{{perfil.email_instituicao}}" id="email_inst" name="email_instituicao" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="nome_dirigente" class="col-4 col-form-label">Nome do dirigente</label> 
          <div class="col-8">
            <input value="{{perfil.dirigente}}" id="nome_dirigente" name="dirigente" type="text" class="form-control">
          </div>
        </div>       
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-outline-success">Salvar</button>
          </div>
        </div>
        </div>
      </form>
    </div>
  <script type="text/javascript">
      $(document).ready(() => {
      $('#cep').mask('99999-999');
      $('#fax').mask('(99) 9999-9999');
      $('#telefone').bind('input propertychange', function (e) {

        var numeros = this.value.replace(/[\s()-]*/g, '').split('');
        if (numeros.length > 11) {
            this.value = this.value.slice(0,-1);
            return false;
        }
        var posicaoHifen = numeros.length == 11 ? 7 : 6;
        var formatado = '';
        for (var i = 0; i < numeros.length; i++) {
            if (i == 0) formatado += '(';
            if (i == 2) formatado += ')';
            if (i == posicaoHifen) formatado += '-';
            formatado += numeros[i];
        }
        this.value = formatado;
    });
    
      let formClear = () => {
          // Limpa valores do formulário de cep.
          $("#street").val("");
          $("#district").val("");
          $("#city").val("");
          $("#state").val("");
      }
      
      //Quando o campo cep perde o foco.
      $("#cep").blur(() => {

          //Nova variável "cep" somente com dígitos.
          let zipCode = $('#cep').val().replace(/\D/g, '');

          //Verifica se campo cep possui valor informado.
          if (zipCode != "") {

              //Expressão regular para validar o CEP.
              let validCep = /^[0-9]{8}$/;

              //Valida o formato do CEP.
              if(validCep.test(zipCode)) {

                  //Preenche os campos com "..." enquanto consulta webservice.
                  $("#rua").val("...");
                  $("#bairro").val("...");
                  $("#cidade").val("...");
                  $("#uf").val("...");
                  $("#ibge").val("...");

                  //Consulta o webservice viacep.com.br/
                  $.getJSON(`https://viacep.com.br/ws/${zipCode}/json/?callback=?`, data => {

                      if (!("erro" in data)) {
                          //Atualiza os campos com os valores da consulta.
                          $("#street").val(data.logradouro);
                          $("#district").val(data.bairro);
                          $("#city").val(data.localidade);
                          $("#state").val(data.uf);
                      } //end if.
                      else {
                          //CEP pesquisado não foi encontrado.
                          formClear();
                          alert("CEP não encontrado.");
                      }
                  });
              } //end if.
              else {
                  //cep é inválido.
                  formClear();
                  alert("Formato de CEP inválido.");
              }
          } //end if.
          else {
              //cep sem valor, limpa formulário.
              formClear();
          }
      });
  });

  </script>
{% endblock %}