{% extends "base.html" %}

{% block title %}Perfil{% endblock %} 

{% block content %}
{% include 'partials/messages.html' %}

<h1 style="justify-content:center; align-items:center; display:flex; padding: 1em;">Perfil</h1>
  <div class="container">
      <form method="POST" action="{% url 'perfil' %}">
        {% csrf_token %}
        <input type="hidden" id="perfil" name="perfil" value="{{request.user.pk}}">
        <div class="form-group row">
          <label for="nome_inst" class="col-4 col-form-label"> Nome da instituição *</label> 
          <div class="col-8">
            <input value="{{perfil.nome_instituicao}}" id="nome_instituicao" name="nome_instituicao" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="logradouro" class="col-4 col-form-label">Logradouro *</label> 
          <div class="col-8">
            <input value="{{perfil.logradouro}}" id="logradouro" name="logradouro" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="numero" class="col-4 col-form-label">Número *</label> 
          <div class="col-8">
            <input value="{{perfil.numero}}" id="numero" name="numero" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="bairro" class="col-4 col-form-label">Bairro *</label> 
          <div class="col-8">
            <input value="{{perfil.bairro}}" id="bairro" name="bairro" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="cidade" class="col-4 col-form-label">Cidade *</label> 
          <div class="col-8">
            <input value="{{perfil.cidade}}" id="cidade" name="cidade" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="estado" class="col-4 col-form-label">Estado *</label required="required"> 
            <div class="col-8">
              <select  id="estado" name="UF" class="custom-select">
                <option value="{{perfil.UF}}">{{perfil.UF}}</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
                </select>
              </div>
        </div>
        <div class="form-group row">
          <label for="telefone" class="col-4 col-form-label">Telefone *</label> 
          <div class="col-8">
            <input value="{{perfil.telefone}}" id="telefone" name="telefone" type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="fax" class="col-4 col-form-label">Fax</label> 
          <div class="col-8">
            <input value="{{perfil.fax}}" id="fax" name="fax" type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
          </div>
        </div>
        <div class="form-group row">
          <label for="site" class="col-4 col-form-label">Site</label> 
          <div class="col-8">
            <input value="{{perfil.site}}" id="site" name="site" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="email_inst" class="col-4 col-form-label">Email da instituição *</label> 
          <div class="col-8">
            <input value="{{perfil.email_instituicao}}" id="email_inst" name="email_instituicao" type="text" class="form-control"  required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="nome_dirigente" class="col-4 col-form-label">Nome do dirigente *</label> 
          <div class="col-8">
            <input value="{{perfil.dirigente}}" id="nome_dirigente" name="dirigente" type="text" class="form-control"  required="required">
          </div>
        </div>       
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-outline-success">Salvar</button>
          </div>
        </div>
        </div>
      </form>
    </div>
  <script type="text/javascript">
      $(document).ready(() => {
      $('#fax').mask('(99) 9999-9999');
      $('#telefone').bind('input propertychange', function (e) {

        var numeros = this.value.replace(/[\s()-]*/g, '').split('');
        if (numeros.length > 11) {
            this.value = this.value.slice(0,-1);
            return false;
        }
        var posicaoHifen = numeros.length == 11 ? 7 : 6;
        var formatado = '';
        for (var i = 0; i < numeros.length; i++) {
            if (i == 0) formatado += '(';
            if (i == 2) formatado += ')';
            if (i == posicaoHifen) formatado += '-';
            formatado += numeros[i];
        }
        this.value = formatado;
    });
    
  });

  </script>
{% endblock %}