asgiref
certifi
charset-normalizer
coverage
dj-database-url
dj-static
Django
django-environ
django-environ-2
django-extensions
djangorestframework
idna
model-mommy
psycopg2-binary
python-decouple
pytz
requests
sqlparse
static3
urllib3
whitenoise
