{% extends "base.html" %} 

{% block title %}Login{% endblock %} 

{% block content %}
<h1>Login</h1>
{% if form.errors %}
<p>
    Usuário ou senha incorreto. Tente novamente.
</p>
{% else %}
<p>
    Use o formulário para acessar o site.
</p>
{% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }} 
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Login"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>
    <p>Usuário novo? <a href="{% url 'register' %}">Crie sua conta.</a></p>
</div>

{% endblock %}