{% extends 'base.html' %} 

{% block title %}Reset sua senha{% endblock %} 

{% block content %}
<div class="container">
    <h1>Reset sua senha</h1>

    {% if validlink %}

        <p>Entre com a nova senha 2 vezes</p>

        <form method="post">
            {{ form.as_p}} {% csrf_token %}
            <p><input type="submit" value="Alterar senha" /></p>
        </form>

    {% else %}
        <p>
            O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %} 
</div>
{% endblock %}