<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" id="u0" href="https://pt.rakko.tools/tools/129/lib/tinymce/skins/ui/oxide/content.min.css">
      <link rel="stylesheet" type="text/css" id="u1" href="https://pt.rakko.tools/tools/129/lib/tinymce/skins/content/default/content.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
   </head>
   <style>
      h1,
      h3 {
          text-align: center;
      }

      table {
          border-spacing: 0px;
          table-layout: fixed;
          margin-left: auto;
          margin-right: auto;
      }

      th {
          color: green;
          border: 1px solid black;
      }

      td {
          border: 1px solid black;
          word-wrap: break-word;
      }
  </style>
   <body data-id="content">
      <div id="content">
      
         <input type="hidden" id="projeto_nome" name="projeto_nome" value="{{projeto.nome_projeto}}">

      <h1 data-mce-style="text-align: center;" style="text-align: center;">Plano de projeto</h1>

      <table style="width: 100%; height: 66px;" data-mce-style="width: 100%; height: 66px;">
         <tbody>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px; border-color: rgb(126, 140, 141);"><strong>Nome do projeto:</strong> {{projeto.nome_projeto}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br><strong>Período de execução:</strong> {{projeto.inicio_execucao}} à {{projeto.fim_execucao}}</td>
            </tr>
            <tr data-mce-style="text-align: left;" style="height: 22px;">
               <td style="width: 100%; height: 22px; border-color: rgb(126, 140, 141);"><strong>Valor investido:</strong> {{projeto.valor_total}}</td>
            </tr>
         </tbody>
      </table>
      <h3>DADOS DA INSTITUIÇÃO</h3>
      <table style="border-collapse: collapse; width: 100%; height: 132px; border-color: #7E8C8D; border-style: outset;" border="1" data-mce-style="border-collapse: collapse; width: 100%; height: 132px; border-color: #7E8C8D; border-style: outset;">
         <tbody>
            <tr style="height: 22px; border-color: rgb(126, 140, 141);" data-mce-style="height: 22px; border-color: #7e8c8d;">
               <td style="width: 100%; height: 22px;"><strong>Nome da instituição:</strong> {{perfil.nome_instituicao}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;"><strong>Dirigente:</strong> {{perfil.dirigente}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;"><strong>Rua:</strong> {{perfil.logradouro}} <strong>nº</strong> {{perfil.numero}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;"><strong>Bairro:</strong> {{perfil.bairro}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Cidade:</strong> {{perfil.cidade}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;"><strong>Telefone:</strong>{{perfil.telefone}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Fax:</strong> {{perfil.fax}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Site:</strong> {{perfil.site}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;"><strong>E-mail:</strong> {{perfil.email_instituicao}}</td>
            </tr>
         </tbody>
      </table>
      <h3>RESPONSÁVEL TÉCNICO</h3>
      <table style="border-collapse: collapse; width: 100%; height: 88px;" border="1" data-mce-style="border-collapse: collapse; width: 100%; height: 88px;">
         <tbody>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;"><strong>Nome:</strong> {{projeto.nome_responsavel}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;"><strong>Telefone:</strong> {{projeto.telefone_responsavel}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">
                  <p><strong>Atividades sob sua responsabilidade na execução do projeto:</strong></p>
                  <p>{{projeto.atividades_responsavel}}</p>
               </td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">
                  <p><strong>Coordena ou coordenou algum projeto?</strong></p>
                  {% if projeto.outros_projetos == 1%}
                  <div class="col-8">                     
                        <label for="participou_projetos_0" class="custom-control-label">Sim</label>                    
                  </div>
                  {% else %}
                  <div class="col-8">
                        <label for="participou_projetos_1" class="custom-control-label">Não</label>
                  </div>
                  {%endif%}
                  <p>{{projeto.quais_projetos}}</p>
               </td>
            </tr>
         </tbody>
      </table>
      <h3>DADOS DO PROJETO</h3>
      <table style="border-collapse: collapse; width: 100%;" border="1">
         <tbody>
            <tr>
               <td style="width: 100%;">
                  <h4 style="text-align: center;" data-mce-style="text-align: center;"><strong>{{projeto.titulo}}</strong></h4>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;"><strong>{{projeto.resumo_objetivos}}</strong></td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Apresentação:</strong></p>
                  <p> {{projeto.apresentacao}}</p>
                  <p><br>{{projeto.resumo}}<br></p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Abrangência:</strong></p>
                  <p><br>{{projeto.abrangencia}}</p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>A execução do projeto justifica-se por:</strong></p>
                  <p><br>{{projeto.justificativa}}<br></p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Proposta pedagógica:</strong></p>
                  <p><br>{{projeto.proposta_pedagogica}}<br></p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Metodologia:</strong></p>
                  <p><br>{{projeto.metodologia}}<br></p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Métodos de avaliação:</strong></p>
                  <p><br>{{projeto.avaliacao}}</p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Público beneficiado:</strong></p>
                  <p><br>{{projeto.publico_beneficiado}}<br></p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Acompanhamento e indicadores:</strong></p>
                  <p><br>{{projeto.acompanhamento_indicadores}}<br></p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p><strong>Recursos necessários:</strong><br>{{projeto.recursos_necessarios}}<br></p>
               </td>
            </tr>
         </tbody>
      </table>
      <h3>PLANEJAMENTO DAS AÇÕES</h3>
      <table style="border-collapse: collapse; width: 100%;" border="1" data-mce-style="border-collapse: collapse; width: 100%;">
         <tbody>
            <tr>
               <td style="width: 100%;" data-mce-style="width: 100%;">
                  <p>{{projeto.acoes_executadas}}</p>
                  <p><strong>Sobre as metas gerais:</strong></p>
                  <p><br>{{projeto.metas_gerais}}<br></p>
                  <p><strong>Sobre os resultados esperados:</strong></p>
                  <p><br>{{projeto.resultados_esperados}}<br></p>
                  <p><strong>Detalhamento do orçamento:</strong></p>
                  <p><br>{{projeto.detalhamento_orcamento}}<br></p>
               </td>
            </tr>
         </tbody>
      </table>
      <p class="assinatura" style="text-align: center;" data-mce-style="text-align: center;">_____________________, ____ de _____________20__</p><br>
      <p class="assinatura" style="text-align: center;" data-mce-style="text-align: center;">____________________________________<br>{{projeto.nome_responsavel}}</p>
      </div>
   </body>
      <script>
         
         function createPDF() {
               var docname =  document.getElementById("projeto_nome");
               var name = docname.value;
               var pdf = document.getElementById("content");
               var opt = {
                  pagebreak: {avoid: ['h3', 'p', '.assinatura'] },
                  margin: 0.3,
                  filename: name + '.pdf',
                  image: { type: 'jpeg', quality: 1 },
                  html2canvas:  { scale: 2 },
                  jsPDF: {unit: 'in', 
                           format: 'a4', 
                           orientation: 'portrait',
                           
                        }
               };
               html2pdf().set(opt).from(pdf).save();
         };
         
         window.onload = createPDF;
         
      </script>

   </html>