<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" id="u0" href="https://pt.rakko.tools/tools/129/lib/tinymce/skins/ui/oxide/content.min.css">
      <link rel="stylesheet" type="text/css" id="u1" href="https://pt.rakko.tools/tools/129/lib/tinymce/skins/content/default/content.min.css">
   </head>
   <body id="tinymce" class="mce-content-body " data-id="content" contenteditable="true" spellcheck="false">
      <h1 data-mce-style="text-align: center;" style="text-align: center;">Plano de projeto</h1>
      <table border="1" style="width: 100%; height: 66px;" data-mce-style="width: 100%; height: 66px;">
         <thead>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px; border-color: rgb(126, 140, 141); text-align: center;">Plano de trabalho</td>
            </tr>
         </thead>
         <tbody>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px; border-color: rgb(126, 140, 141);">Nome do projeto: {{projeto.nome_projeto}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>Período de execução: {{projeto.inicio_execucao}} à {{projeto.fim_execucao}}</td>
            </tr>
            <tr data-mce-style="text-align: left;" style="height: 22px;">
               <td style="width: 100%; height: 22px; border-color: rgb(126, 140, 141);">Valor investido: R$ {{projeto.valor_total}}</td>
            </tr>
         </tbody>
      </table>
      <h3>DADOS DA INSTITUIÇÃO</h3>
      <table style="border-collapse: collapse; width: 100%; height: 132px; border-color: #7E8C8D; border-style: outset;" border="1" data-mce-style="border-collapse: collapse; width: 100%; height: 132px; border-color: #7E8C8D; border-style: outset;">
         <tbody>
            <tr style="height: 22px; border-color: rgb(126, 140, 141);" data-mce-style="height: 22px; border-color: #7e8c8d;">
               <td style="width: 100%; height: 22px;">Nome da instituição: {{perfil.nome_instituicao}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">Dirigente: {{perfil.nome_dirigente}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">Rua: {{perfil.logradouro nº {{perfil.numero}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">Bairro: {{perfil.bairro}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cidade: {{perfil.cidade}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">Telefone: {{perfil.telefone}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fax: {{perfil.fax}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Site: {{perfil.site}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">E-mail: {{perfil.email_instituicao}}</td>
            </tr>
         </tbody>
      </table>
      <h3>RESPONSÁVEL TÉCNICO</h3>
      <table style="border-collapse: collapse; width: 100%; height: 88px;" border="1" data-mce-style="border-collapse: collapse; width: 100%; height: 88px;">
         <tbody>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">Nome: {{projeto.nome_responsavel}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">Telefone: {{projeto.telefone}}</td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">
                  <p>Atividades sob sua responsabilidade na execução do projeto:</p>
                  <p>{{projeto.atividades_responsavel}}</p>
               </td>
            </tr>
            <tr style="height: 22px;">
               <td style="width: 100%; height: 22px;">
                  <p>Coordena ou coordenou algum projeto?</p>
                  <p>adicionar_radio</p>
                  <p>Se sim, descreva o nome dos projetos:</p>
                  <p>{{projeto.quais_projetos}}</p>
               </td>
            </tr>
         </tbody>
      </table>
      <h3>DADOS DO PROJETO</h3>
      <table style="border-collapse: collapse; width: 100%;" border="1">
         <tbody>
            <tr>
               <td style="width: 100%;">
                  <h4 style="text-align: center;" data-mce-style="text-align: center;">{{projeto.titulo}}</h4>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">{{projeto.resumo_objetivos}}</td>
            </tr>
            <tr>
               <td style="width: 100%;">Apresentação: {{projeto.apresentacao}}<br>{{projeto.resumo}}<br></td>
            </tr>
            <tr>
               <td style="width: 100%;">Abrangência:<br>{{projeto.abrangencia}}</td>
            </tr>
            <tr>
               <td style="width: 100%;">A execução do projeto justifica-se por:<br>{{projeto.justificativa}}<br></td>
            </tr>
            <tr>
               <td style="width: 100%;">Proposta pedagógica:<br>{{projeto.proposta_pedagogica}}<br></td>
            </tr>
            <tr>
               <td style="width: 100%;">Metodologia:<br>{{projeto.metodologia}}<br></td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p>Métodos de avaliação:<br>{{projeto.avaliacao}}</p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">Público beneficiado:<br>{{projeto.publico_beneficiado}}<br></td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p>Acompanhamento e indicadores:<br>{{projeto.acompanhamento_indicadores}}<br></p>
               </td>
            </tr>
            <tr>
               <td style="width: 100%;">
                  <p>Recursos necessários:<br>{{projeto.recursos_necessarios}}<br></p>
               </td>
            </tr>
         </tbody>
      </table>
      <h3>PLANEJAMENTO DAS AÇÕES</h3>
      <table style="border-collapse: collapse; width: 100%;" border="1" data-mce-style="border-collapse: collapse; width: 100%;" data-mce-selected="1">
         <tbody>
            <tr>
               <td style="width: 100%;" data-mce-style="width: 100%;">
                  <p>{{projeto.acoes_executadas}}</p>
                  <p>SObre as metas gerais:<br>{{projeto.metas_gerais}}<br></p>
                  <p>Sobre os resultados esperados:<br>{{projeto.resultados_esperados}}<br></p>
                  <p>Detalhamento do orçamento:<br>{{projeto.detalhamento_orcamento}}<br></p>
               </td>
            </tr>
         </tbody>
      </table>
      <div id="mceResizeHandlenw" data-mce-bogus="all" class="mce-resizehandle" unselectable="true" data-mce-style="cursor: nw-resize; margin: 0px; padding: 0px; left: 11px; top: 1789.36px;" style="cursor: nw-resize; margin: 0px; padding: 0px; left: 11px; top: 1789.36px;"></div>
      <div id="mceResizeHandlene" data-mce-bogus="all" class="mce-resizehandle" unselectable="true" data-mce-style="cursor: ne-resize; margin: 0px; padding: 0px; left: 950px; top: 1789.36px;" style="cursor: ne-resize; margin: 0px; padding: 0px; left: 950px; top: 1789.36px;"></div>
      <div id="mceResizeHandlese" data-mce-bogus="all" class="mce-resizehandle" unselectable="true" data-mce-style="cursor: se-resize; margin: 0px; padding: 0px; left: 950px; top: 2040.88px;" style="cursor: se-resize; margin: 0px; padding: 0px; left: 950px; top: 2040.88px;"></div>
      <div id="mceResizeHandlesw" data-mce-bogus="all" class="mce-resizehandle" unselectable="true" data-mce-style="cursor: sw-resize; margin: 0px; padding: 0px; left: 11px; top: 2040.88px;" style="cursor: sw-resize; margin: 0px; padding: 0px; left: 11px; top: 2040.88px;"></div>
   </body>
</html>