{% extends "base.html" %} 
{% block title %}Projeto{% endblock %} 

{% block content %}
{% include 'partials/messages.html' %}

<h1 style="justify-content:center; align-items:center; display:flex; ">Projeto</h1>

<div class="container">
   <form id="form" action="{% url 'save_projeto'%}" method="POST"> {% csrf_token %}
    <input type="hidden" id="perfil" name="perfil" value="{{perfil.pk}}">
    {%  if projeto.id == "" %}
      <input type="hidden" id="projeto_id" name="id" value="0">
    {% else%}
      <input type="hidden" id="projeto_id" name="id" value="{{projeto.id}}">
    {% endif %}
      <div class="form-group row">
        <label class="col-4 col-form-label" for="nome_projeto">Nome do projeto</label> 
        <div class="col-8">
          <input value="{{projeto.nome_projeto}}"id="nome_projeto" name="nome_projeto" type="text" class="form-control" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label for="inicio_execucao" class="col-4 col-form-label">Início da execução</label> 
        <div class="col-8">
          <input value="{{projeto.inicio_execucao}}" id="inicio_execucao"  name="inicio_execucao" type="date" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Fim da execução</label> 
        <div class="col-8">
          <input value="{{projeto.fim_execucao}}" id="text" name="fim_execucao" type="date" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="custo" class="col-4 col-form-label">Custo total</label> 
        <div class="col-8">
          <input value="{{projeto.valor_total}}" id="custo" name="valor_total" class="form-control" onload="formataValor(this)" onkeyup="formataValor(this)">
        </div>
      </div>
      <div class="form-group row">
        <label for="nome_responsavel" class="col-4 col-form-label">Nome do responsável</label> 
        <div class="col-8">
          <input value="{{projeto.nome_responsavel}}" id="nome_responsavel" name="nome_responsavel" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="telefone_responsavel" class="col-4 col-form-label">Telefone responsável</label> 
        <div class="col-8">
          <input value="{{projeto.telefone_responsavel}}" id="telefone_responsavel" name="telefone_responsavel" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="celular_responsavel" class="col-4 col-form-label">Celular responsável</label> 
        <div class="col-8">
          <input value="{{projeto.celular_responsavel}}" id="celular_responsavel" name="celular_responsavel" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">Atividades do responsável</label> 
        <div class="col-8">
          <input value="{{projeto.atividades_responsavel}}" id="text1" name="atividades_responsavel" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4">Coordena ou coordenou outro(s) projeto(s)?</label> 
        {% if projeto.outros_projetos == 1%}
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="outros_projetos" id="participou_projetos_0" type="radio" class="custom-control-input" value="True" checked> 
            <label for="participou_projetos_0" class="custom-control-label">Sim</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="outros_projetos" id="participou_projetos_1" type="radio" class="custom-control-input" value="False"> 
            <label for="participou_projetos_1" class="custom-control-label">Não</label>
          </div>
        </div>
        {% elif projeto.outros_projetos == 0 %}
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="outros_projetos" id="participou_projetos_0" type="radio" class="custom-control-input" value="True" > 
            <label for="participou_projetos_0" class="custom-control-label">Sim</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="outros_projetos" id="participou_projetos_1" type="radio" class="custom-control-input" value="False" checked> 
            <label for="participou_projetos_1" class="custom-control-label">Não</label>
          </div>
        </div>
        {% else %}
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="outros_projetos" id="participou_projetos_0" type="radio" class="custom-control-input" value="True" > 
            <label for="participou_projetos_0" class="custom-control-label">Sim</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="outros_projetos" id="participou_projetos_1" type="radio" class="custom-control-input" value="False"> 
            <label for="participou_projetos_1" class="custom-control-label">Não</label>
          </div>
        </div>
        {%endif%}

      </div>
      <div class="form-group row">
        <label for="quais_projetos" class="col-4 col-form-label">Caso sim, quais projetos</label> 
        <div class="col-8">
          <textarea value="{{projeto.quais_projetos}}" id="quais_projetos" name="quais_projetos" type="text" class="form-control" aria-describedby="quais_projetosHelpBlock" rows="3"> {{projeto.quais_projetos}}</textarea>
          <span id="quais_projetosHelpBlock" class="form-text text-muted">Inserir resumo do currículo e da experiência profissional e especificar as atividades executadas sob sua responsabilidade na execução do projeto correspondente.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="titulo_projeto" class="col-4 col-form-label">Título do projeto</label> 
        <div class="col-8">
          <input value="{{projeto.titulo}}" id="titulo_projeto" name="titulo" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="resumo_objetos" class="col-4 col-form-label">Resumo dos objetivos</label> 
        <div class="col-8">
          <textarea id="resumo_objetivos" name="resumo_objetivos" type="text" class="form-control" aria-describedby="resumo_objetosHelpBlock" rows="3"> {{projeto.resumo_objetivos}}</textarea> 
          <span id="resumo_objetosHelpBlock" class="form-text text-muted">Inserir resumo objetivo e conciso sobre o projeto.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="apresentacao" class="col-4 col-form-label">Apresentação do projeto</label> 
        <div class="col-8">
          <textarea  id="apresentacao" name="apresentacao" type="text" class="form-control" rows="3"> {{projeto.apresentacao}} </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="objetivos" class="col-4 col-form-label">Objetivos do projeto</label> 
        <div class="col-8">
          <textarea id="objetivos" name="objetivos" type="text" class="form-control" rows="3"> {{projeto.objetivos}}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="Abrangência do projeto" class="col-4 col-form-label">Abrangência do projeto</label> 
        <div class="col-8">
          <textarea id="abrangencia_do_projeto" name="abrangencia" type="text" class="form-control" rows="3"> {{projeto.abrangencia}}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="justificativa" class="col-4 col-form-label">Justificativa para a execução do projeto</label> 
        <div class="col-8">
          <textarea id="justificativa" name="justificativa" type="text" class="form-control" aria-describedby="justificativaHelpBlock" rows="3"> {{projeto.justificativa}} </textarea>
          <span id="justificativaHelpBlock" class="form-text text-muted">Inserir informações sucintas sobre a importância, relevância social do projeto.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="proposta" class="col-4 col-form-label">Proposta Pedagógica</label> 
        <div class="col-8">
          <textarea id="proposta" name="proposta_pedagogica" type="text" class="form-control" rows="3"> {{projeto.proposta_pedagogica}} </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="metodologia" class="col-4 col-form-label">Metodologia</label> 
        <div class="col-8">
          <textarea id="metodologia" name="metodologia" type="text" class="form-control" aria-describedby="metodologiaHelpBlock" rows="3"> {{projeto.metodologia}}</textarea>
          <span id="metodologiaHelpBlock" class="form-text text-muted">Descrever sucintamente e de forma objetiva a metodologia, explicitando etapas ou fases de construção do projeto.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="avaliacao" class="col-4 col-form-label">Processo avaliativo</label> 
        <div class="col-8">
          <textarea id="avaliacao" name="avaliacao" type="text" class="form-control" aria-describedby="avaliacaoHelpBlock" rows="3"> {{projeto.avaliacao}}</textarea>
          <span id="avaliacaoHelpBlock" class="form-text text-muted">Apresentação do processo de avaliação do projeto</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="beneficiados" class="col-4 col-form-label">Público beneficiado</label> 
        <div class="col-8">
          <input value="{{projeto.publico_beneficiado}}" id="beneficiados" name="publico_beneficiado" type="text" class="form-control" aria-describedby="beneficiadosHelpBlock"> 
          <span id="beneficiadosHelpBlock" class="form-text text-muted">Identificar o Público atendido.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="acompanhamento" class="col-4 col-form-label">Acompanhamento e indicadores a serem utilizados</label> 
        <div class="col-8">
          <textarea id="acompanhamento" name="acompanhamento_indicadores" type="text" class="form-control" aria-describedby="acompanhamentoHelpBlock" rows="3"> {{projeto.acompanhamento_indicadores}}</textarea> 
          <span id="acompanhamentoHelpBlock" class="form-text text-muted">Explicitar como será feito o acompanhamento da execução e dos resultados, e estabelecer indicadores da execução.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="recursos" class="col-4 col-form-label">Recursos necessários</label> 
        <div class="col-8">
          <textarea id="recursos" name="recursos_necessarios" type="text" class="form-control" aria-describedby="recursosHelpBlock" rows="3"> {{projeto.recursos_necessarios}} </textarea>
          <span id="recursosHelpBlock" class="form-text text-muted">Indicar os recursos financeiros e seus fins para a execução do projeto.</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="acoes" class="col-4 col-form-label">Ações executadas</label> 
        <div class="col-8">
          <textarea id="acoes" name="acoes_executadas" type="text" class="form-control" rows="3"> {{projeto.acoes_executadas}} </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="metas" class="col-4 col-form-label">Metas gerais</label> 
        <div class="col-8">
          <textarea id="metas" name="metas_gerais" type="text" class="form-control" rows="2"> {{projeto.metas_gerais}} </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="resultados" class="col-4 col-form-label">Resultados esperados</label> 
        <div class="col-8">
          <textarea  id="resultados" name="resultados_esperados" type="text" class="form-control" rows="5"> {{projeto.resultados_esperados}}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="text2" class="col-4 col-form-label">Detalhamento do orçamento</label> 
        <div class="col-8">
          <textarea id="text2" name="detalhamento_orcamento" type="text" class="form-control" rows="5"> {{projeto.detalhamento_orcamento}} </textarea>
        </div>
      </div>
      <div class="form-group row">
         <label for="edital" class="col-4 col-form-label">Edital</label> 
         <div class="col-8">
            <select id="" name="template" class="custom-select" required="required">
              
            {% for e in editais %}
                {% if projeto.template_id == e.id%}
                  <option value={{e.id}} selected>{{e.edital}} </option>
                {%else%}
                  <option value={{e.id}}>{{e.edital}} </option>
                {%endif%}
               {% endfor %}
            </select>
         </div>
      </div> 
      <div class="form-group row">
        <div class="offset-4 col-8">
          <button name="submit" type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
</div>


<script type="text/javascript">
  $(document).ready(() => {
    $('#telefone_responsavel').mask('(99) 9999-9999');
    $('#celular_responsavel').mask('(99) 99999-9999');
  
});

  $("#form").submit(function() {
    $("#telefone_responsavel").unmask();
    $("#celular_responsavel").unmask();
  });
    

    function formataValor(campo) {
      campo.value = filtraCampoValor(campo); 
      vr = campo.value;
      tam = vr.length;

      if ( tam <= 2 ){ 
        campo.value = vr ; }
      if ( (tam > 2) && (tam <= 5) ){
        campo.value = vr.substr( 0, tam - 2 ) + ',' + vr.substr( tam - 2, tam ) ; }
      if ( (tam >= 6) && (tam <= 8) ){
        campo.value = vr.substr( 0, tam - 5 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ; }
      if ( (tam >= 9) && (tam <= 11) ){
        campo.value = vr.substr( 0, tam - 8 ) + '.' + vr.substr( tam - 8, 3 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ; }
      if ( (tam >= 12) && (tam <= 14) ){
        campo.value = vr.substr( 0, tam - 11 ) + '.' + vr.substr( tam - 11, 3 ) + '.' + vr.substr( tam - 8, 3 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ; }
      if ( (tam >= 15) && (tam <= 18) ){
        campo.value = vr.substr( 0, tam - 14 ) + '.' + vr.substr( tam - 14, 3 ) + '.' + vr.substr( tam - 11, 3 ) + '.' + vr.substr( tam - 8, 3 ) + '.' + vr.substr( tam - 5, 3 ) + ',' + vr.substr( tam - 2, tam ) ;}
 		}


    function filtraCampoValor(campo){
      var s = "";
      var cp = "";
      vr = campo.value;
      tam = vr.length;
      for (i = 0; i < tam ; i++) {  
        if (vr.substring(i,i + 1) >= "0" && vr.substring(i,i + 1) <= "9"){
          s = s + vr.substring(i,i + 1);}
      } 
      campo.value = s;
      return cp = campo.value
    }
 
</script>
{% endblock %}