{% extends "base.html" %} 
{% block title %}Projetos{% endblock %} 

{% block content %}

{% include 'partials/messages.html' %}

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Atenção!!</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">Tem mesmo a certeza que pretende eliminar este registo?</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Não</button>
            <a class="btn btn-danger" id="confirmDeleteId" href="#">Sim</a>
        </div>
        </div>
    </div>
</div>


<div class="container">
    <h1 style="justify-content:center; align-items:center; display:flex;">Projetos</h1>
    
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>
                    Nome do projeto
                </th>
                <th>
                    Última alteração
                </th>
                <th style="justify-content:center; align-items:center; display:flex;">
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            {% for p in projetos %}
            <tr>
                <td>{{p.nome_projeto}}</td>
                <td>{{p.modified}}</td>
                <td style="justify-content:center; align-items:center; display:flex;">
                
                <form action="{% url 'delete_projeto' p.id%}" method="POST"> {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger" id="confirm-delete" style="margin-right:15px;" action="{% url 'delete_projeto' p.id%}"title="Excluir">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                    </svg>
                </button>
                </form>

                <form action="{% url 'edit_projeto' p.id%}" method="POST"> {% csrf_token %}
                <button type="submit" class="btn btn-outline-warning" style="margin-right:15px;" title="Editar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                    </svg>
                </button>
                </form>

                <form action="{% url 'download_projeto' p.id%}" method="POST"> {% csrf_token %}
                    
                <button type="submit" class="btn btn-outline-primary" title="Download">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                        <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                    </svg>
                </button>
                </form>

            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'create_projeto'%}" method="GET">
        <div class="form-group row" >
            <button type="submit" class="btn btn-outline-success">Novo projeto</button>
        </div>
    </form>
</div>

<script>
    $(document).on('click', '#confirm-delete', function(){
    return confirm('Deseja realmente excluir o projeto?');
})
</script>

{% endblock %}