{% extends "base.html" %} 

{% block title %}Home{% endblock %} 

{% block content %}
<div class="container">
    
<h4 style="justify-content:center; align-items:center; display:flex; padding: 1em;">Bem vindo a página inicial {{ request.user.first_name}} {{ request.user.last_name}}.</h4>
{% if perfil  %}
    {% if projetos %}
        {% if  projetos|length == 1%}
            <p>Você possui o projeto abaixo cadastrado:</p>
        {% else %}
            <p>Você possui os {{projetos|length}} projetos abaixo cadastrados:</p>
        {% endif %}
        {% for p in projetos %}
            <ul style="padding-left: 1em; font-weight: bold;"> - {{ p.nome_projeto }}</ul>

        {% endfor %}
        <br>
        <p>Você pode pesquisar, editar, excluir ou criar novo clicando em projetos.</p>
    {% else %}
        <p>Você ainda não possui projetos cadastrados.</p>
    {% endif %}
{% else %}
<br>
<p>Você ainda não cadastradou os dados do perfil da instituição.<br>
Para criar um projeto é necessário que estes dados sejam cadastrados clicando em perfil e preenchendo os dados.</p>
{% endif %}
</div>

{% endblock %}